<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a News Article with NLP</title>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Roboto">
    </head>

    <body>

        <header>
            <div class="logo">
                <img src="src/client/img/logo.PNG">
            </div>
            <div class="title">
                <h1>Text analysis</h1>
            </div>
        </header>

        <main>
            <section class="box">
                <span>Enter an URL to a webpage or an text in order to extract all containing entities over NPL - Text analysis</span>
                <form onsubmit="return Client.handleSubmit(event)">
                    <input id="url" name="url" value="" placeholder="Url for entity analysis...">
                    <textarea id="text" name="text" value="" placeholder="Text for entity analysis..."></textarea>
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>
            <section class="box error">
                <div id="error">Error</div>
            </section>
            <section class="box results">
                <h2 class="resultTitle">Found entities</h2>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <span class="copyleft">&copy;</span>
            <span>Copyleft 2020</span>
        </footer>

    </body>
</html>
