@import "variables";

html * {
    font-family: 'Roboto', serif;
    font-size: 1em;
}

body {
    display: grid;
    grid-template-rows: 150px calc(100vh - 210px) 60px;
    grid-template-areas: "hd" "main" "ft";
    box-sizing: border-box;
    background-color: $base-background-color;
}

.box {
    border: 1px solid $base-color;
    border-radius: 3px;
    padding: 20px;
}
