@import "variables";

form {
    border: 1px solid $base-color;
    border-radius: 3px;
    padding: 20px;
}

input, textarea {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

.form {
    margin: auto;
}
