@import "variables";

main {
    grid-area: main;
    box-sizing: border-box;
}

section {
    max-width: 900px;
    margin: 50px auto;
}

.error {
    display: none;
}

.results {
    //display: none;
}

.resultTitle {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    color: $base-color;
}

.entity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.entityKey {
    box-sizing: border-box;
    width: 20%;
    padding: 0 10px 0 0;
    font-size: 1.5em;
    font-weight: 700;
    color: $base-color;
}

.entityItems {
    box-sizing: border-box;
    width: 80%;
    padding: 10px 0 10px 10px;
}

@media (min-width: 900px) {
    .entity {
        flex-direction: row;
    }
}
